.search_Heading{
   text-align: center;
   margin-top: 5%;
}
.search_box{
    justify-content: center;
    text-align: center;
    border: 1px solid gray;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    width: 100%;
    max-width: 100vw;
    
}
.search_box:focus{
    
    border:none;
}