.dynamicCardDisplay{
  max-width: "18rem";
   width: "100%";
    max-height: "400px";
     height: "100%" 
}
.dynamicCardDisplay:hover{
 transform: translateY(-5px);
}

.dynamicCardText{
  color: black;
  
}
.boxImage{
  width: 400px;
  left: 50%;
 
} 
.bos{
  border: 2px solid;
  width: 400px;
  height: 50px;
 display: grid;
 align-items: center;
}
.row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  
}
.space{
  margin-top: 10%;
}

.col {
  margin: 0;
  padding: 0;
}
.box{

max-width: 1000px;
width: 100%;

}


@media (max-width: 976px) {
  .card-columns {
    column-count: 0;
  }
  .navbar-brand{
    left: 50%;
  }
  .space{
    margin-top: 10%;
  }
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height:  100%;
  }
  .col {
    flex: 1 0 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    max-height:max-content;
   
  }
  /* .carousel_text_box{

  } */
}

.fa {
  padding: 10px;
  font-size: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  height: 35px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  border-radius: 10px;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
  border-radius: 10px;
}

.fa-google {

  background: #dd4b39;
  color: white;
  border-radius: 10px;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
  border-radius: 10px;
}