
.dynamicCardDisplay{
  max-width: "18rem";
   width: "100%";
    max-height: "400px";
     height: "100%" 
}
.dynamicCardDisplay:hover{
 transform: translateY(-5px);
}

.dynamicCardText{
  color: black;
  
}
.boxImage{
  width: 400px;
  left: 50%;
 
} 
.carousel_text{
  color:"red";
  text-align:"start";
}

.row {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  
}
.space{
  margin-top: 7%;
}
.search_Heading{
  text-align: center;
  position:"relative";
  text-align: center;
  margin-top: 100px;
  
}
.search_box{
  justify-content: center;
  text-align: center;
  height: 50px;
  border-top: none;
  border-left: none;
  border-right: none;
   border-bottom: 1px solid gray;
 width: 100%;
  max-width: 100vw; 
  
}

.col {
  margin: 0;
  padding: 0;
}
.box{

max-width: 1000px;
width: 100%;

}
.carousel_index{
  position:"relative";
  text-align: center;
  margin-top: 100px;
}


@media (max-width: 976px) {
  .card-columns {
    column-count: 0;
  }
  .navbar-brand{
    left: 50%;
  }
  .space{
    margin-top: 10%;
  }
  .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height:  100%;
  }
  .col {
    flex: 1 0 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    max-height:max-content;
   
  }
  .search_Heading{
    position:"relative";
    text-align: center;
   
   
  }
  
}

.fa {
  padding: 10px;
  font-size: 20px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  height: 35px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
  border-radius: 10px;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
  border-radius: 10px;
}

.fa-google {

  background: #dd4b39;
  color: white;
  border-radius: 10px;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
  border-radius: 10px;
}